body
{
	background:#C4C4E4 ;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 20px;
}

.section_serviços{
margin-top: 70px;
}

.section_clientes{
	margin-top: 70px;
}

.primeiro-h1{
	color: blue;
}

.segundo-h1{
	color: red;
	font-family: Ani ;
}

p{
	font-size: 20px;
}
