body
{
	background:#C4C4E4 ;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 20px;
}

.section_serviços{
margin-top: 70px;
}

.section_clientes{
	margin-top: 70px;
}
.section_serviços img{
	width:400px;
	height:300px;
}

.img_google{
	width: 210px;
	margin-bottom: 20px;
}

.img_microsoft{
	width: 200px;
}

.primeiro-h1{
	color: black;
}

.segundo-h1{
	color: red;
	font-family: Ani ;
}

p{
	font-size: 20px;
}
