/* 
   A estilização do html poderia ser feita no próprio arquivo:
   na linha dentro de cada tag exemplo:
   
       <h1 style="color: red">Quiz interativo ....</h1>
   
   ou em head com a tag <style> exemplo
   
    <style>
    h1{ color: rad         aqui indicando que o que se afeta com que entre chaves é o h1
         font-size:70px;
    }
    </style> 
    
   Se fizer dessa forma ficará muito poluída o index.html
   Melhor que as opções anteriores, é fazer dessa forma aqui: criar um arquivo style.css e trabalhar a estilização separado do index.html.
*/

/* 
  o html representa uma folha no qual precisamos escrever
  esta folha tem suas margens que é: o final da folha para esquerda e direita, final de baixo e de cima.
  quando escrevemos algo na folha cria-se um espaço entre a palavra escrita e a margem.
  quando escrevo na outra linha crio outro espaço entre estas palavras e as margens
  esses espaços é chamado de padding(preenchimento interno)
  além disso cada letra da palavra tem sua altura e largura, ou seja, seu dimensionamento.
  o navegador ao renderizar a pagina coloca um espaço e dimensionamento padrão em: margem, padding e os dimensionamento das letras
  isso é ruim porque perdemos o controle desses espaços e dimensionamento ao longo do desenvolvimento
  A primeiro coisa ao estilizar o html é: informar o navegador para tirar esse padrão 
  para isso usamos o seletor *{}, assim atingindo todo o html ao mesmo tempo. Sem o qual seria preciso inspecionar cada elemento do html para corrigir
  * -> esse asterisco é um seletor universal
  Ele diz isso: “Aplique isso a todos os elementos da página
*/ 

/*esse @import abaixo, será explicado na estilização de fontes, segue*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/*tirando formatação padrão do navegador*/
/* esse asterisco * na frente de chaves {} é um seletor universal
  Ele diz isso: “Aplique isso a todos os elementos da página
  Tudo que está dentro das chaves são regras CSS aplicadas a pagina
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 /*
	box- caixa
	sizing -> dimensionamento/ cálculo de tamanho
	border - borda
	aqui estamos dizendo ao navegador que: largura(width) e altura(height)  da borda(border) da caixa(box)sejam respeitados
	
	isso estiliza até o dimensionamento das palavra dentro do botão,visto que ele sera como uma caixa onde esta uma frase, e ao redor da frase tem os espaços.
	Porque em botões, o navegador trás como padrão o valor content-box, que altera o tamanho da palavra dentro do botão mas não o botão. E dessa forma com border-box, quando se altera a palavra dentro do botão, ajusta o tamanho do botão para que caiba a palavra dentro dele
 */
}

/* body aqui abaixo é o elemento que estou afirmando ao style.css que vou estilizar
   o head é configuração, não vai estilização
   tudo que esta dentro do body o style.css sabe que vai ser estilizado, tirando as definições feita pelo seletor *{}
   se quiser afetar uma parte especifica do body, preciso informar qual é essa tag
*/
body{
	background-color: #f4f0ea;/*background -> fundo, Define a cor da área atrás do conteúdo*/
	color: #798252;/*color muda todo conteúdo textual */

  /*Alterei o fundo da pagina e a cor das letras acima
    agora quero alterar a fonte das letras, ou seja, a forma das letras
    no navegador consigo ver exemplos de fontes: google fonts. Entro no site, pesquisei o modele cabin
    cliquei sobre ela e um botão apareceu para fazer o download e Get embed code(obter código de incorporação)
    escolhe obter, e no quadro que apresenta se é para web, android etc seleciono para web, e não quero o link porque, link é para html, e estamos em css. Então a opção é @import
    o google me da o endereço que o copio a partir de @importe somente, sem a tag style. tag style é html
    colo antes do seletor *{}
	esse @import é um importador e, como regra, todo importador fica no topo da pagina css.
    na pagina onde dei um get(obter) tem um códio css, e copiei a segunda linha do código, essa abaixo.
  */

    font-family: "Cabin", sans-serif;
   /*Cabin é uma familia de fonts, familia cabin tem outras fontes e configurações */
   /*sans-serif -> sem pezinho. serif é outra categoria de fonte. O código quer dizer que:
     se não encontrar Cabin, use Serif sem pezinho, é um plano B
   */

   font-weight: 400;
   /*font-weight -> peso(grossura) da fonte
     300 é fina, 400 é normal e 700 é mais grossa o traço da letra, ou seja, quanto mais grossa, mais pixels
     no endereço @import tem essas configurações
  */
}

/*A ideia agora e estilizar as outras partes do body*/
/*acima é uma configuração padrão que afeta todo body. Porém o body tem header, main e footer*/
/*as estilizações segue sempre essa ordem, primeiro pai e depois filhos*/

header{
       padding: 2rem;
	   /*rem -> root em(em relativo a raiz). Raiz é o elemento html
	     Por padrão o html usa font-size: 16px-> px é pixel
		 então 1rem é 16px e 2rem é 32px
		 nisso o header vai ficar com 32 pixels de espaço interno em todos os lados
		 usar rem tem as vantagens de torna a pagina responsiva(adapta a diferente tamanhos de tela), acessível(torna utilizável por todas as pessoas), escalável(funciona pequeno, funciona grande sem quebrar) e consistente(funciona sempre igual, no padrão não importa o dispositivo)
		 Usar pix não tem essas vantagens quando cresce quebra, usar em outro dispositivo quebra etc.
		 melhorar usar unidades de medidas relativas
	   */

	   background-color: #331f19;/*altera o fundo de header*/
	   text-align: center;/*text align(alinhe o texto)*/
}

/* estilizando o main*/
main{
    padding: 2rem;

	/*usando flexbox - caixa flexível
	  dentro do main temos varias section, 12 no total, e por padrão section quebra linha
	  a proposta agora e ajustar o espaçamento de cada section, de forma padronizada
	  cada section neste momento esta separada umas da outras dentro de main, agrupadas em blocos, mas independentes
	  o main não controla layout, apenas “empilha” blocos, não gerencia espaçamento entre filhos
	  para fazer com que o main assuma o controle primeiro vamos da esse poder a ele	  
    */
	display: flex;
	/*display: flex -> forma de exibição flexível,
	  Flexível significa:que pode mudar, que pode se adaptar, que não é rígido
	  todas a section eram em blocos e o <main> não tinha controle
	  agora com esse trecho de código, em main, é o mesmo que dizer:
	  “Ei, <main>, agora você vai controlar o layout dos seus filhos (section)”
  
	  como padrão esse trecho de código joga todas as section para vertical
	  precisamos alinhas na horizontal e para usamos esse código	
	*/

	flex-direction: column;
	/*aqui muda a direção, das section como colunas, ou seja, uma embaixo da outra, com o porém: o main esta no controle*/

	gap: 1.5rem;
	/* gap é um termo em inglês para espaço, vão entre coisas etc
	   e no gap passa-se o tamanho desse espaço
    */
}
/*o proposito agora é dar espaçamento entre os elementos da section
   o flexbox é aplicado no pai para controlar os filhos
   então para dar espaçamento nos filhos da section vamos criar o mes flexbox em section
*/

section{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/*mudar a cor de todos os subtítulos*/
h2{
	color: #331f19;
	font-size: 1.2rem;
}


/*estilizando input
  no exemplo de h2 estilizamos todas eles de uma vez
  no nosso layout temos vários input
  os de múltipla escolha onde somente uma é possível radio,
  onde varias escolhas é possível checkbox, de texto o text, de senha password etc
  mas só quero atingir o input de radio e ou os outros não
 para isso usamos o atributo do input dizendo o que vamos estilizar
*/
input[type="radio"], input[type="checkbox"] {
     
	accent-color: #ccd595;
	/*accent significa destaque, realce, enfase então: accent-color: cor de destaque
	  essa propriedade do css atinge somente os input de elementos de formulário, nativos do navegador
	  do type radio, checkbox, range etc.

	  vou fazer a mesma coisa com checkbox, e para não ter que construir outra lógica abaixo,
	  vou usar essa mesma estrutura separando os type por virgula.
	*/
}

/*alterando os outros inputs text, password, email e date
   lembrando que esses input são os retângulos da pagina
*/

input[type="text"], input[type="password"], input[type="date"], input[type="email"]{

	 width: 100%;/*width é largura*/
	 padding: 0.5rem;
	 border: 2px solid #ccd595;
	 /* para mudar a borda precisa: border: [largura] [estilo] [cor];
	   2px espessura da borda, px é a melhor escolha para bordas
	   solide(sólido/contínuo) é estilo da borda uma linha reta, sem espaços e pontilhados
	   e #ccd595 é cor 
	   se não for passado o conjunto, o navegador não entende e fica sem nada.
	 */
	 outline: none;
	 /*outline-> contorno, quando se clica no campo ele fica editável e um contorno azul fica aparecendo,
	   o valor none(nenhum) tira esse contorno
	   O contorno é importe para acessibilidade(torna-se mais acessível para mais pessoas)
	 */
	 
     border-radius: 7px;
      /*radius e raio, ou seja, da uma arrendondada na borda do campo*/

	  background-color: transparent;/*altera a cor de dentro do campo*/
}

/* alterar o placeholder
   o placeholder é um atributo do elemento input em html
    alterar o placeholder da uma ideia de construir a linha assim:
	input[placeholder]{} linha igual se fez para alterar os types
	construir a lógica assim, deixa claro que estamos alterando o input e, não o placeholder. logo alterar placeholder desta forma é impossível.

	para altera-lo a lógica é:  
	input::placeholder
     
	isso ::placeholder no html não existe
   no css ele é chamado de pseudo(falso/aparente) elemento do css
   É criado pelo CSS para estilizar visualmente o placeholder
   No html é comportamento aqui com :: e apenas estilo visual 
*/
input::placeholder{
   
	color: #ccd595;
}

/*a proposta agora é mudar nosso menu suspenso, pergunta 7 com select*/

select {
/*Da forma que ele esta na pagina, o cursor é uma seta. Com o código baixo vira uma mão apontando */
    cursor: pointer;
	background-color: #ccd595;
	color: #331f19;
	border-radius: 5px;
	border: none;/*tira a borda padrão deixa só cor*/
	outline: none;/*tira a linha ao redor enquanto escolhendo*/
}

/*Figura da pergunta 8*/

img{
   width: 10rem;/*afetando largura*/
   border-radius: 5px;/*afetando bordas*/
}

/*alterando tabela*/
table {
	width: 100%;/*largura padrão de 100% conforme os outros campos*/
	border-collapse: collapse;
	/*quando criamos o table ela tem suas bordas, e quando criamos td células esta também tem suas próprias bordas, por isso aparência duplicada 
	collapse é unir, juntar etc. então este código junta as linhas de table a td, tirando aparência de duplicadas*/
}

/*estilizando o título da tabela o th*/
th{
background-color: #ccd595;
color: #331f19;
padding: 1rem;
}

/*estilizando as células td*/
td{
	color: #331f19;
	padding: 0.6rem;
	text-align: center;
}

/*alterando o rodapé(tfoot) da table
   tudo que esta aqui embaixo é relacionado a tfoot
   temos td dentro de tfoot e precisamos estiliza-lo também
   porém acima estilizamos os td, da tabela, e o td de tfoot que esta dentro de table recebeu essa estilização. E o css vai ignorar os comando de td dentro de tfoot porque tfoot é filho de table.
   para que o css não ignore isso, e estilize os filhos de tfoot, precisamos indicar seus filho antes das chaves {}
*/
tfoot td{
	background-color: #331f19;
	color: #f4f0ea;/*assim o css, enxerga que esse td é filho de tfoot e faz a estilização*/
}

/*estilizando a lista- verifique suas resposta*/
/*como a lista começa com o seletor details, sera ele afrente de {}*/
details {
	background-color: #ccd595;
	border-radius: 5px;
	padding: 1rem;
}

/*Estilizando o summary*/
summary {
	color: #331f19;
	margin: 1rem;/*antes desse trecho, o botão estava colado no fim esquerdo da pagina, com esse trecho entrou mais a direita*/
	cursor: pointer;
}

/*agora são os elementos dentro da lista ol ou ul */
/*eu usei ol neste projeto e tenho os números que indicam cada item da lista, para fora da margem*/
ol{
	margin-left: 1.5rem;
	/*é assim se ajusta a margem, indicando qual lado será afetado
	   perceba que a margem em summary, está sem orientação
	   dessa forma será afetado todos os lados ao redor, esquerda, direita, embaixo e encima
	   aqui estou dizendo que quero margem a esquerda e passando seu peso(distancia)
	   o que o que será afetado é somente a esquerda
	   Importante se não passar nada será afetado ao redor
	   passando o lado afeta só o que foi passado
	   e se quiser afetar esquerda e direita por exemplo?
	   assim-> margin: 0 1.5rem; 
	   o zero->0 representa topo e baixo, depois direita e esquerda. Loga aqui sera afetado estes últimos com o mesmo peso
	   regra geral:
	        Valores	       Regra
              1	         todos os lados
              2	         vertical / horizontal
              3	         topo / lados / baixo
              4	         topo → direita → baixo → esquerda
	*/
}

/*estilizando cada li, ou seja, cada item da lista
  para isso usa o mesmo raciocínio do td em footer
  escreve o pai depois o filho
*/
ol li {
	padding: 0.2rem;/*criando espaços entres os intens*/
}

/*estilizando feedback*/
/*o feedback é conjunto que fica dentro de fieldset, englobando todas as labels e inputs, será fieldset a frente das chaves*/
fieldset {
	border: 2px solid #ccd595;
	border-radius: 5px;
	padding: 1rem;	
}

/*estilizando legend, ou seja o texto legenda informações de contatos de fieldset*/
legend {
	color: #331f19;
	/*o texto esta colado na linha de fieldset e quero dar um espaçamento a esquerda e a direita
	vou usar o padding, lembrando que o padding funciona igual margem, se não especificar ele cria espaços envolta do elemento */
	padding: 0 0.5rem;
}

/*estilizando textarea*/
textarea{
	background-color: transparent;
	outline: none;
	border-radius: 5px;
	border: 2px solid #ccd595;
	padding: 3rem 0 0 0.7rem;
}

/*estilizando placeholder de textarea*/
textarea::placeholder{
    color: #3b3b37;
	

}


/*estilizando button*/
button{
	background-color: #ccd595;
	border: none;
	padding: 0.6rem;
	color: #331f19;
	border-radius: 5px;
	cursor: pointer;
}

/* estilizando o footer*/
footer{
	background-color: #331f19;
	padding: 2rem;
	text-align: center;
}

/*estilizando paragrafo do footer*/
/*os parágrafos da da pagina ja foram estilizados mais acima 
  para quebrar essas estilização poderia fazer igual fiz no tfoot p{},
  porém vou usar aqui uma técnica muita usada em css que é class
  então o proximo passo é criar uma class dentro da tag p de footer
  fica assim <P class"paragrafo-footer">texto</p> isso é como um id(identificador)
  após isso chama ela aqui no css e estiliza os parágrafos com essa class

  após criado a class criada lá aqui a chamada é precedida de um -> . ponto depois o nome da class
*/
 .paragrafo-footer{
	color: #f4f0ea;

 }

 /*estilizando o botão: Sobre mim - clique aqui no footer*/
 /*esse botão esta na tag <a>, e esta é unica na pagina, com isso posso usar a técnica igual do tfoot feita anteriormente, ou fazer class dentro <a class= ""> como acima*/
 footer a{
	text-decoration: none;/*a palavra clique aqui estava grifada embaixo dela. Com esse código sai o grifado*/
	color: #ccd595;
 }





